.question1 {
  margin: 50px;   
  width: 100px;
  height: 100px;
  background-color: pink;
  animation-name: myAnimation;
  animation-duration: 4s;
}

@keyframes myAnimation {
    0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.question2 {
  margin: 50px;   
  width: 100px;
  height: 100px;
  background-color: lightblue;
  animation-name: moveAnimation;
  animation-duration: 4s;
  position: relative;
}

@keyframes moveAnimation {
    from {background-color: green;}
  to {background-color: lightblue;}
}