div {
  width: 100px;
  height: 100px;
  background-color: pink;
  animation-name: myAnimation;
  animation-duration: 4s;
}

@keyframes myAnimation {
    0% {
        background-color: pink;
        transform: translateX(0);
    }
    50% {
        background-color: lightblue;
        transform: translateX(200px);
    }
    100% {
        background-color: lightgreen;
        transform: translateX(0);
    }
}